html, body {
    height: 100%; /* Ensure the html and body are full height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow: hidden; /* Prevent scrollbars */
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use viewport height to make sure it covers the full screen */
    width: 100vw; /* Cover the full viewport width */
    background: url('https://source.unsplash.com/featured/?technology') no-repeat center center fixed;
    background-size: cover; /* Ensure the background covers the entire element */
}

.form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin-top: 5px;
}

.error-message {
    color: #ff3860;
    font-size: 0.8rem;
    margin-top: 5px;
}

.button {
    background-color: #007bff;
    border-color: #007bff;
}

.button:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.registration-link {
    text-align: center;
    margin-top: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
